ACTION=="add", \
SUBSYSTEM=="net", \
KERNEL=="eth*", \
  RUN+="/sbin/ethtool -s %k wol d"

ACTION=="add", \
SUBSYSTEM=="net", \
KERNEL=="wlan*", \
  RUN+="/sbin/iw dev %k set power_save on"

